<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Guest Entry</title>

        <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap-table.min.css}" rel="stylesheet">
    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="user.js"></script>
  </head>

  <body class="text-center">
    <div class="container">
<div class="row">
  <div class="col-sm-9"><h2 class="text text-success text-left">Welcome <span th:text="${user}"></span></h2></div>
  <div class="col-sm-3"><button type="button" onclick="logout()" class="btn btn-danger">Log Out</button></div>
 </div>
</div>
 <div class="container">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Create Guest Entry</h1>
      <div class="form-group">
    <label for="exampleFormControlTextarea1">Text Entry</label>
    <textarea class="form-control" id="textEntry" rows="3" name="textEntry"></textarea>
	  </div>
	  <h2 class="h3 mb-3 font-weight-normal">OR</h2>
      <div class="custom-file">
	  <input type="file" id="customFile" name="imageEntry" accept=".jpg,.jpeg,.png" onchange="validateFileUploaded()">
	</div >
      <button class="btn btn-lg btn-primary" style="margin-top:40px;padding-left:4%;padding-right:4%" onclick="createentry(event)">Submit</button>
    </form>
    </div>
    <input id="token" type="hidden" th:value="${token}" name="token" />
  </body>
</html>
